<div class="container mt-3">
    <div class="d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-uy-error-404-robot-roto_114360-1920.jpg?t=st=1722128685~exp=1722132285~hmac=70fd5536938c6001e5267fedde130e2aa5de9c67911578609a395ee80642e719&w=740" alt="404 not found" class="img-fluid">
    </div>
</div>