<div class="d-flex alihn-items-center justify-content-center mt-2 py-2">
    
    <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-403-error-prohibido-policia_114360-1904.jpg?t=st=1722128527~exp=1722132127~hmac=17b2618f2af57e05d89caca7ebe222d6fe3750ca35d25aaabaf6b3bc06d5e3ca&w=740" alt="acceso denegado" height="700px">
</div>